@import url('https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap');

:root{
    --bg-principal: #EFF1FF;
    --bg-text-imagens:#FEEAFA;
    --bg-h1: #CBC0D3;
    --bg-header: #8E9AAF;
    
    --text-color-imagens: #4A4E69;
    
    --ff-title: 'Staatliches', cursive;
    --ff-descricao: 'Palanquin', sans-serif;
    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: 4rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
body{
    width:100vw;
    font-size: var( --fs-body)
}


.page {
    max-width: 384px;
    height: 100vh;

    margin: 0 auto;
}
header{
    height: 279px;
    display: flex;
    flex-direction: column;


    align-items: center;
    background-color: var(--bg-header);
    color: #fff;
    letter-spacing: 4px;
}

header h1{
    width: 100%;
    text-align: center;
    background-color: var(--bg-h1);
    text-transform: uppercase;
    font-family: var(--ff-title)
}

header img{
    width: 137px;
    height: 137px;
    margin: 34px auto 40px;
    
}

main{
    background-color: var(--bg-principal);
    text-align: center;
    padding: 14px 32px;
    display: grid;
}

.card   {
    position: relative;
    margin: 1.6rem auto;
    animation: downtop 700ms 350ms backwards;
}

.card p {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    height: 3.5rem;
    width: 11.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-text-imagens);
    align-itens: center;

    border-radius: 2.0rem;

    font-family: var(--ff-title);
    letter-spacing: 0.05em;

    color: var (--text-color-imagens);
    animation: topDown 500ms  backwards;
    animation-delay: 0.8s

}

@keyframes topDown {
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes downtop {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}